# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\python_execrcise\CNNlearning\AlexNet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
